ng-include(src="'views/header.html'")

.row.well(ng-show="err")
    p.error(ng-show="err") {{err}}
    p.good(ng-show="msg") {{msg}}

.row
    button.btn.btn-danger.pull-right(ng-click="logout()")
        span.glyphicon.glyphicon-log-out
        |  Log out

    h1
        span.glyphicon.glyphicon-user &nbsp;
        | Profile
        .small {{user.name}}
    hr

.row

    label.col-sm-2.control-label Name:
    input.col-sm-5(type="text", name="name", ng-model="user.name")

.row
    label.col-sm-2.control-label Email:
    .col-sm-8 {{ user.email }}

.row
    hr

    h3.text-danger {{ msg }}

    form.form-horizontal

        .form-group
            h3 Change Password
            label.col-sm-3.control-label Old Password
            .col-sm-8
                input(type="password", ng-keypress="reset()", ng-model="oldpass")

        .form-group
            label.col-sm-3.control-label New Password:
            .col-sm-8
                input(type="password", ng-keypress="reset()", ng-model="newpass")

        .form-group
            label.col-sm-3.control-label Confirm Password:
            .col-sm-8
                input(type="password", ng-keypress="reset()", ng-model="newpass_confirm")

        .form-group
            button.btn.btn-danger(ng-click="updatePassword()") Update Password



