ng-include(src="'views/header.html'")

.row
    h2
        span.glyphicon.glyphicon-book
        |  Articles

    ul(style='list-style: none;', ng-repeat='w in getWeeks()')
        li.row
            hr
            span
                h2
                    | Week {{w}}&nbsp;&nbsp;
                    a.btn-sm.btn-info(ng-show='weekEnabled[w]', ng-click='weekEnabled[w] = false')  hide
                    a.btn-sm.btn-info(ng-show='!weekEnabled[w]', ng-click='weekEnabled[w] = true')  show
            hr

            ul(ng-show='weekEnabled[w]', style='list-style: none;', ng-repeat='a in getArticlesForWeek(w)')
                li.row
                    hr
                    b  {{a.author}} &nbsp;
                    i  {{a.title}} &nbsp;
                    | in {{a.publishedin}} &nbsp;
                    b  {{a.year}}  &nbsp;
                    |  &nbsp;
                    span.glyphicon.glyphicon-link
                    a(target='_blank', href='{{a.url}}') [url]
                    p
                        b Questions:
                    ul(ng-repeat='q in a.questions | orderByPriority')
                        li
                            | Q{{$index}}: {{q.text}} &nbsp;

                    button.btn.btn-xs.btn-success(ng-click="scoreQuestions(a.$id)",ng-show='a.questionsLocked')
                        span.glyphicon.glyphicon-heart-empty
                        |  score questions

                    form.form(ng-show='!a.questionsLocked && question[a.$id]')
                        .form-group
                            .col-sm-3
                                button.btn.btn-sm.btn-primary(
                                    ng-disabled="question[a.$id].text == null || question[a.$id].text.length < 6"
                                    , ng-click="addQuestion(a.$id)")
                                    span.glyphicon.glyphicon-plus
                                    |  Add Question
                            input.col-sm-7(type="text", name="question", ng-model="question[a.$id].text")
    hr





.row(ng-show='user.admin')
    hr

    h2 Add new article

    .row
        form.form-horizontal
            .form-group
                label.col-sm-3.control-label Author(s)
                input.col-sm-8(type="text", name="author", ng-model="article.author")
            .form-group
                label.col-sm-3.control-label Title
                input.col-sm-8(type="text", name="title", ng-model="article.title")
            .form-group
                label.col-sm-3.control-label Published in
                input.col-sm-8(type="text", name="publishedin", ng-model="article.publishedin")
            .form-group
                label.col-sm-3.control-label Year
                input.col-sm-2(type="number", name="year", ng-model="article.year")
            .form-group
                label.col-sm-3.control-label URL
                input.col-sm-8(type="text", name="url", ng-model="article.url")

            .form-group
                label.col-sm-3.control-label Tags
                input.col-sm-8(type="text", name="tags", ng-model="article.tags")

            .form-group
                label.col-sm-3.control-label Week
                input.col-sm-1(type="number", name="week", ng-model="article.week")


            .form-group
                button.btn.btn-warning(ng-click="addArticle()")
                    span.glyphicon.glyphicon-plus
                    |  Add article
