.navbar.navbar-default.navbar-fixed-bottom
    .container
        p.navbar-text &copy; 2014 by&nbsp;
            a(target='_blank', href='http://hig.no') HiG&nbsp;
            | and&nbsp;
            a(target='_blank', href='http://gtl.hig.no') GTLab
            | .
        a.navbar-btn.btn.btn-info.pull-right(target='_blank', href='https://bitbucket.org/nowostawski/gorad') Source on Bitbucket

