.header
    ul.nav.nav-pills.pull-right(ng-show='auth.user')
        li(ng-class="{active: isActive('home')}")
            a(ng-href="/home")
                span.glyphicon.glyphicon-home
                |  Home

        li(ng-class="{active: isActive('article')}")
            a(ng-href="/articles")
                span.glyphicon.glyphicon-book
                |  Articles

        li(ng-class="{active: isActive('account')}")
            a(ng-href="/account")
                span.glyphicon.glyphicon-user
                |  Account


    h3.text-muted Game of Reading and Discussing

