ng-include(src="'views/header.html'")

.row
  h2
    span.glyphicon.glyphicon-book
    |  Articles

  ul(style='list-style: none;', ng-repeat='a in articles')
    li.row
      hr
      b  {{a.author}} &nbsp;
      i  {{a.title}} &nbsp;
      | in {{a.publishedin}} &nbsp;
      b  {{a.year}}  &nbsp;
      |  &nbsp;
      span.glyphicon.glyphicon-link
      a(target='_blank', href='{{a.url}}') [url]
      p


.row(ng-show='user.admin')
  hr

  h2 Add new article

  .row
    form.form-horizontal
      .form-group
        label.col-sm-3.control-label Author(s)
        input.col-sm-8(type="text", name="author", ng-model="article.author")
      .form-group
        label.col-sm-3.control-label Title
        input.col-sm-8(type="text", name="title", ng-model="article.title")
      .form-group
        label.col-sm-3.control-label Published in
        input.col-sm-8(type="text", name="publishedin", ng-model="article.publishedin")
      .form-group
        label.col-sm-3.control-label Year
        input.col-sm-2(type="number", name="year", ng-model="article.year")
      .form-group
        label.col-sm-3.control-label URL
        input.col-sm-8(type="text", name="url", ng-model="article.url")

      .form-group
        label.col-sm-3.control-label Tags
        input.col-sm-8(type="text", name="tags", ng-model="article.tags")

      .form-group
        label.col-sm-3.control-label Week
        input.col-sm-1(type="number", name="week", ng-model="article.week")


      .form-group
        button.btn.btn-warning(ng-click="addArticle()")
          span.glyphicon.glyphicon-plus
          |  Add article
