h2 Login Page
form.form-horizontal(role='form')

    .form-group
        label.col-sm-2.control-label E-mail
        .col-sm-8
            input.form-control(type="text",ng-model="email")

    .form-group
        label.col-sm-2.control-label Password
        .col-sm-8
            input.form-control(type="password", ng-model="pass")

    .form-group(ng-cloak, ng-show="createMode")
        label.col-sm-2.control-label Confirm password
        .col-sm-8
            input.form-control(type="password",ng-model="pass_confirm")

    .well.form-group(ng-show="err")
        .btn.btn-danger {{err}}

    button.btn.btn-primary(ng-click="login()", ng-hide="createMode") Log In
    button.btn.btn-warning(ng-click="createMode = true", ng-hide="createMode") Register
    button.btn.btn-success(ng-cloak, ng-show="createMode", ng-click="createAccount()") Create Account
    button.btn.btn-default(ng-cloak, ng-show="createMode", ng-click="cancelButton()") Cancel



