ng-include(src="'views/header.html'")

a(ng-href="/login", ng-show='!auth.user')
    .btn.btn-lg.btn-success.pull-right
        span.glyphicon.glyphicon-log-in
        |  Login/Register


h1 GoRaD
    .small Game of Reading and Discussing

h3 Welcome

p
  | GoRaD is a simple system for students and lecturers to engage
  | in discussion on scientific articles. It has been designed
  | for Serious Games Course, IMT4102, in 2014, at the
  a(target='_blank', href='http://hig.no')  University College Gjøvik
  |  , Norway.
  | The simple rules of the game are:


p
    b Tuesday: &nbsp;
    | articles for the upcoming week are posted

p
    b By Friday midnight: &nbsp;
    | all students have to read the articles and post 1 question
    | for each of the articles. The question should be in a form that
    | requires a short answer: of up to 150 words.
    | Questions that require less  than 50 words or questions
    | that require more than 150 should be avoided.
    | Once the questions are posted (with hard deadline on Friday midnight),
    | students can vote on the questions.

p
    b Monday 9:00, morning: &nbsp;
    | Voting on questions closes.


p
    b Tuesday, lecture time: &nbsp;
    | students present their papers and then everyone reads the
    | questions and their answers they gave, followed by a discussion.
    | After the lecture, students vote on the best answers (deadline Tuesday
    | midnight). Whole thing repeats from step 1.

h3 The schedule
ul
    li Wednesday-Friday is for reading articles and writing questions,
    li Weekend is for voting on questions,
    li Monday is for thinking and writing answers,
    li Tuesday is for voting on answers.
