ng-include(src="'views/header.html'")

.row
    h2 Voting on Questions

    h3 Rules

    p
        | Distribute points among the questions. Use the formula:
        | 2points times number of questions to work out how many
        | points you can distribute among all the questions.


    h3 Article
    b {{article.author}} &nbsp;
    i {{article.title}} &nbsp;
    | {{article.publishedin}} &nbsp;
    b {{article.year}}

    hr

.row
    ul(style='list-style: none;', ng-repeat='q in article.questions | orderByPriority')
        li
            input.col-sm-1(ng-show='q.userid != auth.user.uid', ng-model='q[auth.user.uid].score')
            b(ng-show='q.userid == auth.user.uid') &nbsp;Your own question:&nbsp;
            i  Q{{$index}}: {{q.text}} &nbsp;


.row
    hr
    button.btn.btn-success(ng-click='gotoArticles()')
        span.glyphicon.glyphicon-arrow-left
        | Back to Articles
